---
apiVersion: v1
kind: Namespace
metadata:
  labels:
    app: excalifork
    deploy: {{ deploy }}
  name: excalifork
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: excalifork
    deploy: {{ deploy }}
  name: ef-room-svc
  namespace: excalifork
spec:
  ports:
  - name: excalifork-room
    port: 8082
    targetPort: 80
  selector:
    app: excalifork
    component: excalifork-room
    deploy: {{ deploy }}
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: excalifork
    deploy: {{ deploy }}
  name: ef-storage-svc
  namespace: excalifork
spec:
  ports:
  - name: excalifork-storage-backend
    port: 8081
    targetPort: 8081
  selector:
    app: excalifork
    component: excalifork-storage-backend
    deploy: {{ deploy }}
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: excalifork
    deploy: {{ deploy }}
  name: ef-svc
  namespace: excalifork
spec:
  ports:
  - name: excalifork
    port: 80
    targetPort: 80
  selector:
    app: excalifork
    component: excalifork
    deploy: {{ deploy }}
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: excalifork
    component: excalifork
    deploy: {{ deploy }}
  name: excalifork
  namespace: excalifork
spec:
  replicas: 1
  selector:
    matchLabels:
      app: excalifork
      component: excalifork
      deploy: {{ deploy }}
  template:
    metadata:
      labels:
        app: excalifork
        component: excalifork
        deploy: {{ deploy }}
    spec:
      containers:
      - image: "{{ registry}}/excalifork:{{ excalifork_tag }}"
        imagePullPolicy: Always
        name: excalifork
        ports:
        - containerPort: 80
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: excalifork
    component: excalifork-room
    deploy: {{ deploy }}
  name: excalifork-room
  namespace: excalifork
spec:
  replicas: 1
  selector:
    matchLabels:
      app: excalifork
      component: excalifork-room
      deploy: {{ deploy }}
  template:
    metadata:
      labels:
        app: excalifork
        component: excalifork-room
        deploy: {{ deploy }}
    spec:
      containers:
      - image: "{{ registry}}/excalifork-room:{{ excalifork_room_tag }}"
        imagePullPolicy: Always
        name: excalifork-room
        ports:
        - containerPort: 80
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: excalifork
    component: excalifork-storage-backend
    deploy: {{ deploy }}
  name: excalifork-storage-backend
  namespace: excalifork
spec:
  replicas: 1
  selector:
    matchLabels:
      app: excalifork
      component: excalifork-storage-backend
      deploy: {{ deploy }}
  template:
    metadata:
      labels:
        app: excalifork
        component: excalifork-storage-backend
        deploy: {{ deploy }}
    spec:
      containers:
      - env:
        - name: PORT
          value: "8081"
        - name: STORAGE_URI
          value: redis://redis-master
        image: "{{ registry}}/excalifork-storage-backend:{{ excalifork_storage_tag }}"
        imagePullPolicy: Always
        name: excalifork-storage-backend
        ports:
        - containerPort: 8081
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: nginx
  labels:
    app: excalifork
    deploy: {{ deploy }}
  name: ingress-ef
  namespace: excalifork
spec:
  rules:
  - host: "{{ excalifork_fqdn }}"
    http:
      paths:
      - backend:
          service:
            name: ef-svc
            port:
              number: 80
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - "{{ excalifork_fqdn }}"
    secretName: ef-tls
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
    nginx.org/websocket-services: ef-room-svc
  labels:
    app: excalifork
    deploy: {{ deploy }}
  name: ingress-ef-room
  namespace: excalifork
spec:
  rules:
  - host: "{{ excalifork_room_fqdn }}"
    http:
      paths:
      - backend:
          service:
            name: ef-room-svc
            port:
              number: 8082
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - "{{ excalifork_room_fqdn }}"
    secretName: ef-room-tls
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: nginx
  labels:
    app: excalifork
    deploy: {{ deploy }}
  name: ingress-ef-storage
  namespace: excalifork
spec:
  rules:
  - host: "{{ excalifork_storage_fqdn }}"
    http:
      paths:
      - backend:
          service:
            name: ef-storage-svc
            port:
              number: 8081
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - "{{ excalifork_storage_fqdn }}"
    secretName: ef-storage-tls
